# SPDX-License-Identifier: GPL-2.0-only

config SB_TEMP
	tristate "sb-temp"
	default n
	depends on SB_ADC
	help
		Say Y here to enable.
		support for sec battery control-temp API.
		refer to API headers.

config SB_FORCED_EPT
	tristate "sb-forced-ept"
	default n
	depends on SB_ADC
	help
		Say Y here to enable.
		support for sec battery control-forced ept API.
		Refer to API headers.

config SB_TEMP_W6
	tristate "sb-temp-w6"
	default n
	depends on SB_ADC
	help
		Say Y here to enable
		support for sec battery control-temp API for
		Watch 6.
		Refer to API headers.
