# SPDX-License-Identifier: GPL-2.0-only

config SB_MODULE
	tristate "sb-module"
	default n
	help
		Say Y here to enable.
		support for sec battery module API.
		refer to API headers.

if SB_MODULE

source "drivers/battery/module/adc/Kconfig"
source "drivers/battery/module/cisd/Kconfig"
source "drivers/battery/module/work/Kconfig"
source "drivers/battery/module/startup/Kconfig"

endif # SB_MODULE
